<%= form_for(@income) do |f| %>
  <% if @income.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income.errors.count, "error") %> prohibieron que fuera registrado:</h2>

      <ul>
      <% @income.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount, 'Cantidad' %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :owner, '¿Quién lo dió?' %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descripción' %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit 'OK', class:"btn btn-default btn-primary" %>
  </div>
<% end %>
