<p id="notice"><%= notice %></p>

<h1>Ingresos</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Dueño</th>
      <th>Descripción</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.amount %></td>
        <td><%= income.owner %></td>
        <td><%= income.description %></td>
        <td><%= link_to 'Editar', edit_income_path(income) %></td>
        <td><%= link_to 'Eliminar', income, method: :delete, data: { confirm: 'Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Ingreso', new_income_path, class:"btn btn-default"%>
